<h1> Cart Items: </h1>
Products in My Cart:
{{#each cart}}
  <div class="productsInCart">
  <strong>Product Id: {{product}}</strong>
</div>

{{/each}}
<h3>Total Amount:</h3>

<form action="/your-server-side-code" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-amount="999"
    data-name="Stripe.com"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>
<button class ="clearCartButton">Clear Cart</button>
