<div id='content' class='content'>
  <div class='row-fluid'>
    <div class='col-md-10 how-sft-works'>
      <h1>
        Welcome to Sweaters for Turtles!
      </h1>
      <h2>
          Sign in or sign up to buy sweaters to make your turtle look f#@king awesome.
      </h2>
    </div>
  </div>
</div>
